@import "../../Nav/Nav.module.css";


/* .NavToggle {
  border: 3px solid green;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem 1rem;

  display: none;
}


.NavToggle .burger {
  border-top: 3px solid rgb(0, 0, 0);
  padding: .8rem;
  position: relative;
  bottom: -15px;
  left: 0;

  color: red;
  
}

.burger .toggle {
  color: rgb(230, 2, 2);
}
.NavToggle .burger:hover {
  transition-property: padding;
  border-top-color: transparent;
}




.NavToggle .burger::before {
  content: "";
  border-bottom: 3px solid rgb(0, 0, 0);
  padding: .8rem;
  position: absolute;
  top: -37px;
  left: 0;

}

.NavToggle .burger:hover::before {
  transform: skewY(40deg);
  top: -28px;
}

.NavToggle .burger::after {
  content: "";
  border-bottom: 3px solid black;
  padding: .8rem;
  position: absolute;
  bottom: 18px;
  right: 0;
}
.NavToggle .burger:hover:after {
  transform: skewY(-40deg);
  bottom: 24px;
}


@media (max-width: 600px) {
  .NavToggle {
    display: block;
  }

  .Nav ul {
    display: block;
    border: 2px solid black;
    width: 120px;
    text-align: center;
  } 
}

 */

.NavToggle {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  display: none;
  /* width: 2.5em;
  height: 1.5em; */
  min-height: 61px;
  padding: .5rem 1rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%; 

  background-color: transparent;
  border: none;

}

@media (max-width: 580px) {
  .NavToggle {
    display: block;
  }
}