.Navitem a {
  display: block;
  padding: .5rem 1rem;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
a.active {
  border-bottom: 3px solid rgb(255, 255, 255);
}


.Navitem a:hover {
  background-color: rgba(255, 255, 255, .1);
}

@media (max-width: 580px) {
  .Navitem a.active {
    border-bottom: none;
    border-right: 3px solid white;
  }
}