.Nav {
  
  background-color: coral;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  
  padding: 0 .5rem;
}
.Nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

